body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: url(../images/4.jpg) ; background-size: cover; /* This will cover the entire background */
    background-position: center; /* This will center the background */
    background-repeat: no-repeat; /* This will prevent the background from repeating */
}

.main-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    backdrop-filter: blur(9px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-title {
    text-align: center;
    margin-bottom: 20px;
}

/* Department Cards */
.main-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 200px;
    height: 150px;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-primary {
    color: #007bff;
}

.text-blue {
    color: #007bff;
}

.font-weight-bold {
    font-weight: bold;
}

/* Tables */
.tables {
    margin-top: 50px;
}

.tables h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #007bff;
    color: #fff;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #ddd;
}
